*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.log
*.iml
*.keystore
*.jks

.gradle/
.navigation/
.externalNativeBuild/
.cxx/
build/
bin/
captures/
gen/
out/
proguard/
release/

.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/vcs.xml
local.properties

# Google Services (e.g. APIs or Firebase)
# google-services.json